/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWT_L 0 // QWERTY Lafayette
#define QAC_L 1 // QWERY Lafayette accents and diacritics
#define NUM_L 2 // Numbers
#define ALT_L 3 // Alt-Gr
#define ERG_L 4 // ERGO-L
#define EAC_L 5 // ERGO-L accents and diacritics

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

// |        Key definition                                                   <<<
// =============================================================================

        // |            Alphas                                               <<<
        //======================================================================
        #define ___A___ &kp A           // A
        #define ___B___ &kp B           // B
        #define ___C___ &kp C           // C
        #define ___D___ &kp D           // D
        #define ___E___ &kp E           // E
        #define ___F___ &kp F           // F
        #define ___G___ &kp G           // G
        #define ___H___ &kp H           // H
        #define ___I___ &kp I           // I
        #define ___J___ &kp J           // J
        #define ___K___ &kp K           // K
        #define ___L___ &kp L           // L
        #define ___M___ &kp M           // M
        #define ___N___ &kp N           // N
        #define ___O___ &kp O           // O
        #define ___P___ &kp P           // P
        #define ___Q___ &kp Q           // Q
        #define ___R___ &kp R           // R
        #define ___S___ &kp S           // S
        #define ___T___ &kp T           // T
        #define ___U___ &kp U           // U
        #define ___V___ &kp V           // V
        #define ___W___ &kp W           // W
        #define ___X___ &kp X           // X
        #define ___Y___ &kp Y           // Y
        #define ___Z___ &kp Z           // Z
        // >>>

        // |            Numbers                                              <<<
        //======================================================================
        #define ___1___ &kp N1          // 1
        #define ___2___ &kp N2          // 2
        #define ___3___ &kp N3          // 3
        #define ___4___ &kp N4          // 4
        #define ___5___ &kp N5          // 5
        #define ___6___ &kp N6          // 6
        #define ___7___ &kp N7          // 7
        #define ___8___ &kp N8          // 8
        #define ___9___ &kp N9          // 9
        #define ___0___ &kp N0          // 0
        // >>>

        // |            Symbols                                              <<<
        //======================================================================
        #define _GRAVE_ &kp GRAVE       // `
        #define _TILDE_ &kp TILDE       // ~
        #define _EXCLN_ &kp EXCL        // !
        #define __AT___ &kp AT          // @
        #define _HASH__ &kp HASH        // #
        #define _DOLAR_ &kp DLLR        // $
        #define _PRCNT_ &kp PRCNT       // %
        #define _CARET_ &kp CARET       // ^
        #define _AMPS__ &kp AMPS        // &
        #define _STAR__ &kp KP_MULTIPLY // *
        #define _L_PAR_ &kp LPAR        // (
        #define _R_PAR_ &kp RPAR       // )
        #define _MINUS_ &kp KP_MINUS    // -
        #define _UNDER_ &kp UNDER       // _
        #define _EQUAL_ &kp EQUAL       // =
        #define _PLUS__ &kp KP_PLUS     // +
        #define _SLASH_ &kp FSLH        // /
        #define _QMARK_ &kp QMARK       // ?
        #define _L_BKT_ &kp LBKT        // [
        #define _L_BRC_ &kp LBRC        // {
        #define _R_BKT_ &kp RBKT        // ]
        #define _R_BRC_ &kp RBRC        // }
        #define _B_SLH_ &kp BSLH        // \ 
        #define _PIPE__ &kp PIPE        // |
        #define _QUOTE_ &kp SQT         // '"
        #define __L_T__ &kp LT          // <
        #define __G_T__ &kp GT          // >
        #define _D_QOT_ &kp DQT         // "
        #define _COMMA_ &kp COMMA       // FIX: temp to test build
        #define __DOT__ &kp DOT         // FIX: trmp to test build
        // >>>

        // |            Mods                                                 <<<
        //======================================================================
        #define _SPACE_ &lt NUM_L SPACE // Access num_layer by hold and space by tap
        #define _BCSPC_ &lt ALT_L BSPC  // Access alt_layer by hold and bacspcace by tap
        #define _ENTER_ &kp RET         // Return
        #define _SHIFT_ &kp LSHIFT      // Shift
        #define __ESC__ &kp ESC         // Escape
        #define __DEL__ &kp DEL         // Delete
        #define _META__ &kp K_CMENU     // Meta
        #define __ALT__ &kp LALT        // Alt
        #define _QWERT_ &to QWT_L       // Change to Qwerty Lafayette layer
        #define _ERGOL_ &to ERG_L       // Change to Ergo-L layer
        #define _______ &trans          // Use bottom layer
        // >>>

        // |            Navigations                                          <<<
        //======================================================================
        #define _HOME__ &kp HOME        // Home
        #define __END__ &kp END         // End
        #define __INS__ &kp INS         // Inser
        // >>>

        // |            Accents & diacritics                                 <<<
        //======================================================================
        // TODO: Set and rename the diacritics if ZMK supports it and accents
        // #define __à_À__
        // #define __â_Â__
        // #define __æ_Æ__
        // #define __é_É__
        // #define __è_È__
        // #define __ê_Ê__
        // #define __î_Î__
        // #define __ô_Ô__
        // #define __œ_Œ__
        // #define __ù_Ù__
        // #define __û_Û__
        // #define __ç_Ç__
        // #define __ñ_Ñ__
        // #define __ß_ẞ__
        // #define __«_“__
        // #define __»_”__
        // #define ___’___
        // #define ___…___
        // #define __·_•__
        // #define __—_–__
        // #define __µ_º__
        // #define __≠_±__
        // #define __÷_¿__
        // #define __¬_¡__
        // #define ___°___
        // #define ___¶___
        // #define ___§___
        // #define ___¤___
        // #define __£_¢__
        // #define ___¥___
        // #define __€_‰__
        // >>>

        // |            Customs                                              <<<
        //======================================================================
        #define _LOCK__ &kp LC(LS(RET)) // Shift+Meta+Return
        #define _TERM__ &kp LC(RET)     // Meta+Return
        #define __CUT__ &kp LC(X)       // Ctrl+x
        #define _UNDO__ &kp LC(Z)       // Ctrl+z
        #define _REDO__ &kp LC(W)       // Ctrl+w
        #define _COPY__ &kp LC(C)       // Ctrl+c
        #define _PASTE_ &kp LC(V)       // Ctrl+v
        #define _SIGQT_ &kp LC(BSLH)    // Ctrl+\ send a quit signal
        // TODO: Set sticky layer to emulate this customs dead keys
        // https://zmk.dev/docs/behaviors/sticky-layer
        //#define __QAL__                 // Access QWERTY accent layer for next input
        //#define __EAL__                 // Access Ergo-L accent layer for next input
        // TODO: Redifine this keys with Mod-Morph
        // https://zmk.dev/docs/behaviors/mod-morph
        //#define _COMMA_                 // ,;
        //#define __DOT__                 // .:
        //#define _E_CUS_                 // Ergo-L dash and question mark key
        // >>>

// >>>

//                Template keyboard
//                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
//                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
//                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
//                                           _______  _______    _______  _______


        // |        QWERTY Lafayette                                         <<<
        //======================================================================
        default_layer {
            bindings = <
                ___Q___  ___W___  ___E___  ___R___  ___T___    ___Y___  ___U___  ___I___  ___O___  ___P___
                ___A___  ___S___  ___D___  ___F___  ___G___    ___H___  ___J___  ___K___  ___L___  _QUOTE_ // need to be __QAL__ but not yet implemented
                ___Z___  ___X___  ___C___  ___V___  ___B___    ___N___  ___M___  _COMMA_  __DOT__  _SLASH_
                                           _SHIFT_  _SPACE_    _BCSPC_  _ENTER_
            >;
        };

        // >>>

        // |        Accents and diacritics for QWERTY Lafayette              <<<
        //======================================================================
        qwerty_accent_layer {
            bindings = <
                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
                                           _______  _______    _______  _______
                // TODO: Rename in definition and define it on top
                //__æ_Æ__  __é_É__  __è_È__  __ê_Ê__  __«_“__    __»_”__  __ù_Ù__  __î_Î__  __œ_Œ__  __ô_Ô__
                //__à_À__  __ß_ẞ__  __≠_±__  __¬_¡__  __—_–__    ___°___  __û_Û__  ___¶___  ___§___  _GRAVE_
                //__â_Â__  ___¤___  __ç_Ç__  __£_¢__  ___¥___    __ñ_Ñ__  __µ_º__  __·_•__  ___…___  __÷_¿__
                //                           _______  ___’___    __€_‰__  _______
            >;
        };

        // >>>

        // |        Number row and some mods                                 <<<
        //======================================================================
        num_layer {
            bindings = <
                _UNDO__  __CUT__  _COPY__  _PASTE_  __ESC__    __DEL__  _HOME__  __END__  __INS__  _REDO__
                ___1___  ___2___  ___3___  ___4___  ___5___    ___6___  ___7___  ___8___  ___9___  ___0___
                _EXCLN_  __AT___  _HASH__  _DOLAR_  _PRCNT_    _CARET_  _AMPS__  _STAR__  _L_PAR_  _R_PAR_
                                           _______  _______    _META__  __ALT__
            >;
        };

        // >>>

        // |        Alt-Gr                                                   <<<
        //======================================================================
        alt_layer {
            bindings = <
                _ERGOL_  _L_BKT_  _R_BKT_  _DOLAR_  _PRCNT_    _CARET_  _AMPS__  _STAR__  _QUOTE_  _QWERT_
                _L_BRC_  _L_PAR_  _R_PAR_  _R_BRC_  _EQUAL_    _PLUS__  _MINUS_  __L_T__  __G_T__  _D_QOT_
                _TILDE_  _GRAVE_  _PIPE__  _UNDER_  _SLASH_    _B_SLH_  __AT___  _HASH__  _EXCLN_  _QMARK_
                                           _LOCK__  _TERM__    _______  _SIGQT_
            >;
        };

        // >>>

        // |        ERGO-L                                                   <<<
        //======================================================================
        ergol_layer {
            bindings = <
                ___Q___  ___G___  ___O___  ___W___  ___K___    ___B___  ___M___  _QUOTE_  ___L___  ___F___
                ___A___  ___S___  ___E___  ___T___  ___D___    ___H___  ___N___  ___I___  ___R___  ___U___
                ___Z___  ___X___  _SLASH_  ___C___  ___V___    ___J___  ___P___  _COMMA_  __DOT__  ___Y___
                                           _SHIFT_  _SPACE_    _BCSPC_  _ENTER_
            >;
        };

        // >>>

        // |        Accents and diacritics for ERGO-L                        <<<
        //======================================================================
        ergol_accent_layer {
            bindings = <
                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
                _______  _______  _______  _______  _______    _______  _______  _______  _______  _______
                                           _______  _______    _______  _______
                // TODO: Rename in definition and define it on top
                //__æ_Æ__  __¬_¡__  __œ_Œ__  __ô_Ô__  __«_“__    __»_”__  __µ_º__  _GRAVE_  __£_¢__  ___¥___
                //__à_À__  __é_É__  __è_È__  __ê_Ê__  __≠_±__    ___¤___  __ñ_Ñ__  __î_Î__  __û_Û__  __ù_Ù__
                //__â_Â__  __ß_ẞ__  __—_–__  __ç_Ç__  ___§___    ___¶___  ___°___  __·_•__  ___…___  __÷_¿__
                //                           _______  ___’___    __€_‰__  _______
            >;
        };
        // >>>
    };
};
// vim: set fdm=marker fmr=<<<,>>> fdl=0 ft=c:
